@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600;700&family=Noto+Sans+Thai:wght@200;400;700&family=Open+Sans:wght@300;400;500;600&family=Roboto+Condensed:wght@300;400;700&family=Rubik:wght@300;400;600&display=swap');
        
body {
    font-family: 'Fira Sans';
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    border: 1px solid darkgray;
}

.header {
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 6.25rem;
    color: rgb(214, 0, 0);
    text-align: center;
}

video {
    width: 18.5rem;
    margin-left: 23rem;
    margin-top: -3.2rem;
}

.more {
    font-weight: 500;
    color: darkgray;
    font-size: 25px;
    margin-top: -3.125rem;
    margin-left: 34rem;
    margin-bottom: 3rem;
}

/* .span-more1 {
    text-align: center;
} */

.span-more2 {
    margin-left: 1rem;
}

.span-more1:hover {
    color: white;
    border: 6px solid black;
    background-color: black;
    border-radius: 20px;
}

.span-more2:hover {
    color: white;
    border: 6px solid black;
    background-color: black;
    border-radius: 20px;
}

.my-motto {
    font-weight: 700;
    font-size: 14px;
    margin-top: -1rem;
    margin-bottom: 1rem;
    margin-left: 23rem;
    margin-right: 49rem;

}

.img-main {
    width: 23.75rem;
    height: 31.25rem;
    margin-top: -5rem;
    margin-left: 43rem;
}

.name-img {
    margin-left: 23rem;
    margin-right: 49rem;
    margin-top: -17rem;
    color: darkgray;
    font-weight: 600;
    margin-bottom: 4rem;
    background-color: black;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem; 
}

p.nick {
    margin-top: -1rem;
}

.line {
    color: darkgray;
    margin-left: 23.125rem;
    margin-right: 23.125rem;
    margin-top: 3rem;
}

.text-line {
    margin-left: 60.5rem;
    margin-top: -0.625rem;
    color: darkgray;
    font-weight: 600;
    font-size: small;
    margin-bottom: 3.125rem;
}

.text-line:hover {
    text-decoration: underline;
}