@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;500&family=Roboto:wght@300;500&display=swap');

* {
    box-sizing: border-box;
}

.head {
    font-weight: bolder;
    text-align: center;
}

body {
    font-family: "IBM Plex Sans Thai Looped";
    font-family: "Roboto";
}

.position {
    margin-left: 20rem;
    margin-right: 20rem;
    text-align: left;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
}

div {
    margin: 1rem 1rem 1rem 1rem;
}

label {
    font-weight: bold;
    padding-bottom: 1rem;
}

small {
    color: rgb(156, 156, 156);
}

input[type=text] , select , textarea {
    width: 100%;
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    padding: 1rem 1rem 1rem 1rem;
}

input[type=date]{
    width: 100%;
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    padding: 1rem 1rem 1rem 1rem;
}

input[type=email]{
    width: 100%;
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    padding: 1rem 1rem 1rem 1rem;
}

input[type=submit] {
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}


